---
import Layout from '~/layouts/PageLayout.astro';

import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'Titanium Gym — Entrena, transforma y triunfa',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Content
    image={{
      src: '~/assets/images/inicio.png',
      alt: 'Inicio',
      width: '734',
      height: '487',
    }}
  >
    <Fragment slot="content">
      <span
        class="font-bold tracking-tight text-blue-900 dark:text-yellow-300 text-4xl md:text-7xl leading-tighter mb-2 font-heading"
        >Preparados</span
      ><span
        class="font-bold tracking-tight text-black dark:text-white text-4xl md:text-7xl leading-tighter mb-2 font-heading"
      >
        para el exito, donde quiera que vayas.
      </span>
      <br class="my-10" />
      <span class="sm:text-md md:text-lg lg:text-xl inline">
        No solo te ayudamos a esculpir tu cuerpo, sino que también te brindamos la motivación y el apoyo que necesitas
        para alcanzar tus objetivos fitness.
      </span>
    </Fragment>
  </Content>

  <Content
    isReversed
    id="content"
    tagline="Nosotros"
    title="¿Quiénes somos?"
    subtitle="Conocenos y descubre por qué somos la mejor opción para ti."
    image={{
      src: '~/assets/images/nosotros.png',
      alt: 'Nosotros',
    }}
  >
    <Fragment slot="content">
      <span class="font-normal tracking-tight dark:text-gray-400 text-xl md:text-3xl lg:text-4xl mb-2">
        En Titanium Gym, no somos solo un gimnasio; somos una comunidad apasionada dedicada a transformar vidas a través
        del fitness y el bienestar integral. Nuestra historia es la historia de cada persona que ha caminado por
        nuestras puertas con la determinación de alcanzar sus metas y superar sus límites.
      </span>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Features
    id="features"
    tagline="Beneficios"
    title="¿Qué te ofrecemos?"
    subtitle="Lo que obtienes con Titanium Gym"
    items={[
      {
        title: 'Un ambiente vibrante y motivador',
        description:
          'Sumérgete en un ambiente enérgico donde la motivación es contagiosa. Nuestra comunidad te impulsa a alcanzar nuevas alturas en tu viaje fitness.',
        icon: 'material-symbols:flash-on-outline',
      },
      {
        title: 'Nutrición y asesoramiento',
        description:
          'Recibe asesoramiento nutricional para complementar tu entrenamiento, asegurando que tus hábitos alimenticios respalden tus objetivos de salud y forma física.',
        icon: 'material-symbols:restaurant',
      },
      {
        title: 'Clases dirigidas para todos los niveles',
        description:
          'Participa en clases dinámicas adaptadas a diferentes niveles de condición física, desde principiantes hasta atletas avanzados, para diversificar tu rutina y mejorar tus habilidades.',
        icon: 'material-symbols:trending-up',
      },
      {
        title: 'Flexibilidad de horarios',
        description:
          'Adapta tu rutina según tu agenda. Ofrecemos horarios flexibles para que encuentres el momento perfecto para tu sesión de entrenamiento, sin importar cuán ocupado estés',
        icon: 'material-symbols:calendar-clock-outline',
      },
      {
        title: 'Programas de entrenamiento personalizado',
        description:
          'Diseñamos programas de entrenamiento individualizados que se ajustan a tus objetivos específicos, asegurando que cada sesión sea efectiva y personalizada.',
        icon: 'material-symbols:tune',
      },
      {
        title: 'Equipos de alta calidad',
        description:
          'Descubre una variedad de equipos de última generación diseñados para optimizar tu entrenamiento y maximizar los resultados.',
        icon: 'material-symbols:high-quality-outline',
      },
    ]}
  />

  <BlogLatestPosts id="blogs" title="Blog Fitness">
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

  <FAQs
    id="faqs"
    title="Preguntas Frecuentes"
    tagline="FAQ"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Qué programas de fitness ofrecen?',
        description:
          'Ofrecemos una amplia gama de programas de fitness, desde clases grupales hasta entrenamiento personalizado. Explora nuestras opciones que incluyen entrenamiento de fuerza, cardio, yoga y más para encontrar el programa que se adapte a tus objetivos y preferencias.',
      },
      {
        title: '¿Cómo puedo reservar una sesión de entrenamiento personal?',
        description:
          'Reservar una sesión de entrenamiento personal en Titanium Gym es fácil. Puedes hacerlo en línea a través de nuestro portal de reservas o visitándonos en la recepción. Nuestro equipo estará encantado de ayudarte a encontrar el horario y entrenador que mejor se adapte a tus necesidades.',
      },
      {
        title: '¿Titanium Gym tiene clases para principiantes?',
        description:
          '¡Sí! Ofrecemos clases diseñadas específicamente para principiantes, así como opciones para todos los niveles de condición física. Consulta nuestro programa de clases o habla con nuestro personal para encontrar la mejor opción para ti.',
      },
      {
        title: '¿Cómo puedo renovar mi membresía en Titanium Gym?',
        description:
          'Renovar o actualizar tu membresía es fácil. Puedes hacerlo en persona en la recepción de nuestro gimnasio o a través de nuestro portal en línea. Si necesitas asistencia, nuestro personal estará encantado de guiarte durante el proceso.',
      },
      {
        title: '¿Titanium Gym ofrece asesoramiento en nutrición?',
        description:
          'Sí, ofrecemos asesoramiento nutricional personalizado como parte de nuestros servicios. Trabaja con nuestros expertos en nutrición para desarrollar un plan que complemente tu entrenamiento y te ayude a alcanzar tus objetivos.',
      },
      {
        title: '¿Cuál es la política de cancelación de membresía?',
        description:
          'Puedes cancelar tu membresía en cualquier momento. Te pedimos que nos notifiques con al menos 30 días de antelación. Para obtener detalles específicos, visita la sección "Políticas" en nuestro sitio web o comunícate con nosotros.',
      },
    ]}
  />
</Layout>
